@media screen and (max-width: 767px) {

    #wrapper {
        width: 300px;
    }
    .right{
        width:75px;
    }
    .main-center{
        width:125px;
    }
    .main-left{
        width:100px;
    }

}


/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {
    #wrapper {
        width: 150px;
   

}

body {
    min-height: 100%; 
    height: 100%;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.main{
    width:400px;
    height:250px;
}


.header{
    width:400px;
    height:100px;
    background-color:#141f40;
}

.center{
    width:250px;
    height:150px;
}
.main-center{
    width:150px;
    height:150px;
    float:left;
}

.main-left{
    width:150px;
    height:250px;
    float:left;
    background-color:#80bfa8;
}

.main-right{
    width:250px;
    height:250px;
    float:right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

.center-top{
    width:150px;
    height:50px;
    background-color:#dbd400;
}

.center-bottom{
    width:150px;
    height:100px;
    background-color:#0093b7;
}

.center-down{
    width:250px;
    height:100px;
    background-color:#8c2727;
}

.right{
    width:100px;
    height:150px;
    background-color:#ff9eb6;
    float:right;
}

.footer{
    width:400px;
    height:100px;
    background-color:#d98d30;
}